:root {
	--bg-color: #111111;
	--dark-text-color: #777777;
	--light-text-color: #aaa;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--dark-text-color);
}

#root {
	height: 100%;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
}

.social-link {
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid var(--dark-text-color);
	padding: 5px;
	text-align: center;
}

.title {
	font-size: 15vw;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	color: var(--light-text-color);
	font-weight: lighter;
}

.full-width {
	width: 100%;
}

.name {
	margin: 0;
	color: var(--light-text-color);
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 25px;
}

.content {
	flex-grow: 1;
}

.slideshow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	cursor: pointer;
}

.footer {
	padding-bottom: 25px;
}

.social-links-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-container {
	width: 100%;
	position: absolute;
}

.slide {
	padding: 15%;
}

.slide-title {
	color: var(--light-text-color);
}

.profile-image {
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	background-position: center;
	background-size: 100% auto;
}

.contact-me-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.centered-flex-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkedin:hover {
	background-color: #2867b2;
	border-color: #2867b2;
	color: #fff;
}

.instagram:hover {
	background-color: #f77737;
	border-color: #f77737;
	color: #fff;
}

.github:hover {
	background-color: #333;
	border-color: #333;
	color: #fff;
}
