$bg-color: #111111;
$dark-text-color: #777777;
$light-text-color: #aaa;

%centered-flex-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $dark-text-color;
	background-color: $bg-color;
}

html {
	overflow: hidden;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.social-link {
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid $dark-text-color;
	padding: 5px;
	text-align: center;
}

.title {
	font-size: 15vw;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	color: $light-text-color;
	font-weight: lighter;
}

.name {
	margin: 0;
	color: $light-text-color;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 25px;
}

.content {
	flex-grow: 1;
}

.slideshow {
	@extend %centered-flex-box;

	position: relative;
	height: 100%;
	cursor: pointer;
}

.footer {
	padding-bottom: 25px;
}

.social-links-container {
	@extend %centered-flex-box;
}

.slide-container {
	width: 100%;
	position: absolute;
}

.slide {
	padding-left: 15%;
	padding-right: 15%;
}

.slide-title {
	color: $light-text-color;
}

.profile-image {
	margin: auto;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	background-position: center;
	background-size: 100% auto;
}

.chevron {
	position: absolute;
	font-size: 14vw;
	top: 25%;
	right: 2%;
}
